
body {
    font-family: sans-serif;
}

#products {
    overflow: auto;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 45px;
    position: absolute;

}

.product {
    height: 120px;
    width: 300px;
    border: 2px solid black;
    float: left;
    margin: 7px 7px 7px 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.icon  {
    height: 20px;
    width: 20px;
}

.producticon {
    margin-top: 10px;
    margin-left: 5px;
    height: 64px;
    width: 64px;
    float: left;
}

.pricelabel {
    float: right;
    margin-top: -20px;
    margin-right: 5px;
}