
body {
    font-family: sans-serif;
}

#products {
    overflow: auto;
    bottom: 15px;
    left: 15px;
    right: 15px;
    top: 65px;
    position: absolute;

}

.product {
    height: 150px;
    width: 350px;
    border: 2px solid black;
    float: left;
    margin: 7px 7px 7px 7px;
    padding-left: 7px;
    padding-right: 7px;
}

.icon  {
    padding-top: -10px;
    height: 20px;
    width: 20px;
}

.producticon {
    margin-top: 10px;
    margin-left: 5px;
    height: 48px;
    width: 48px;
    float: left;
}

.pricelabel {
    float:right;
    bottom: 5px;
}

#productview {
    width: 500px;
    border: 2px solid black;
    margin: auto;
    padding-left:10px;
    padding-right:10px;
}

.buy_icon {
    padding-top: 25px;
}

.buy_allergen {
    height: 48px;
    width: 48px;
}

.green {
    border-color: green;
    background-color: lime;
    color: darkgreen;
}

.button {
    height: 30px;
    width: 150px;
    border: 2px solid black;
    margin: 5px 5px 5px 5px;
    margin-bottom: 25px;
    padding-top: 12px;
}

.description {
    height: 45px;
    overflow: auto;

}

h3 {
    margin-top: 5px;
    height: 40px;
}